/* back-link  */

.back-link {
  margin: 16px 40px;
  display: inline-block;
  padding: 8px 16px;
  background-color: #4e75ff;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 500;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.back-link:hover {
  background-color: #6c8cff;
  transform: translateY(-2px);
}

.back-link:active {
  background-color: #6c8cff;
  transform: translateY(0);
}
